<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gerenciar Usuários</title>
    <script type="text/javascript">
        function goBack() {
            window.history.back();
        }
    </script>
    <!-- Adicionar Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Gerenciar Usuários</h1>
        <a th:href="@{/users/add}" class="btn btn-primary mb-3">Adicionar Usuário</a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Tipo</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Telefone</th>
                    <th>Username</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}">1</td>
                    <td th:text="${user.name}">John Doe</td>
                    <td th:text="${user.role}">DRIVER</td>
                    <td th:text="${user.email}">john.doe@example.com</td>
                    <td th:text="${user.document}">123456789</td>
                    <td th:text="${user.phone}">123-456-7890</td>
                    <td th:text="${user.username}">johndoe</td>
                    <td>
                        <a th:href="@{/users/edit/{id}(id=${user.id})}" class="btn btn-warning btn-sm mt-1">Editar</a>
                        <a th:href="@{/users/delete/{id}(id=${user.id})}" class="btn btn-danger btn-sm mt-1">Deletar</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/admin}" class="btn btn-secondary mt-3">Voltar</a>
    </div>

    <!-- Adicionar Bootstrap JS e dependências -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
